@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,100;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .carousel-inner {
    padding-top: 5em;
    background-color: black;
  }

  /* #carouselIntro {
    height: 530px;
    object-position: 10rem;
  } */

  .navbar {
    padding-top: 1em;
  }

  .navbar-brand {
    font-weight: 100;
    font-style: italic;
  }

  .miNombre {
    font-weight: 700;
  }

  h5 {
    font-weight: 700;
  }

  .desafiocard {
    font-style: italic;
  }

  .carousel-caption {
    margin-bottom: 7em;
  }

  .portafolioIntro {
    text-align: center;
  }