@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .carousel-inner {
    padding-top: 5em;
  }

  .navbar {
    padding-top: 1em;
    height: 5em
  }

  .navbar-brand {
    font-weight: 100;
    font-style: italic;
  }